<!DOCTYPE html>
<html>
<head>
  <title>LoginFunc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor='pink'>
<br/><br/><br/><br/><br/><br/><br/><br/>
<br/>
<%= yield %>

</body>
</html>
